#puzzle {
    width: 450px !important;
    height: 450px !important;
}

#puzzle input {
    width: 50px !important;
    height: 50px !important;
    box-sizing: border-box;
    border-spacing: 0px;
    border: 1px gray solid;
}